*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(94, 93, 93);
    padding: 10px;
    color: aliceblue;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    height: 100px;
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
}
.name{
    margin: 10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: aqua;
}
.banner-img{
    width: 500px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* border: 2px solid gray; */
    color: aliceblue;
    background-image: url("./images/background.png"),
    linear-gradient(90deg,#860303,#2c0303f4);
    background-size: contain;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}