*{
    margin: 0px;
    padding: 0px;

}
.test{
    color: blueviolet;
    cursor: pointer;
}

.box{
    padding: 20px;
    background-color: rebeccapurple;
    width: 120px;
    height: 110px;


}
.box2{
    background-color: blue;
}
.box3{
    background-color: chartreuse;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 400px;
    border: 2px solid black;
}
 